# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore all target directories
target/

# ignore all target directories
lib/

# ignore all files ending with ~
*~ 
*.txt
*.osm
*.xml